/Calculator/Core/bin
/Calculator/Core/obj
/Calculator/Calculator/bin
/Calculator/Calculator/obj
/Calculator/iOS/bin
/Calculator/iOS/obj
/Weather/Droid/bin
/Weather/Droid/obj
/Weather/Droid.UITests/bin
/Weather/Droid.UITests/obj
